.text-box.text-box--green.text-box--worst
  h2.block-title Best Small & Regional Banks
  .info-text
    | Not surprisingly, every financial institution at the top of our list with track records of good business practices and customer satisfaction is a smaller, regional bank (with assets ranging from $14 billion to $80 billion).

  .bank-ranking
    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-one-green.svg')
          h3.bank-ranking__title Bank of the Ozarks
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: AR, TX, GA, NC, SC, AL, FL, CA, NY

      p.bank-ranking__text
        | At the top of our list is Arkansas-based Bank of the Ozarks, with an impressive record of 
        span.semibold only one consumer complaint received 
        | and recorded by the CFPB. With assets of $20 billion and branches in nine states, Bank of the Ozarks is one of the 100 largest banks in the country, but manages to keep its customers happier than many smaller banks and credit unions.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/b-of-ozarks.png', srcset='images/banks/b-of-ozarks@2x.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-two-green.svg')
          h3.bank-ranking__title CIBC USA
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: Midwest & East Coast. Personal finance only in IL, WI, MO, MI

      p.bank-ranking__text
        | CIBC USA, also known as Private Bank, is the US subsidiary of the Canadian Imperial Bank of Commerce, ranks 60th largest bank in the country (its Canadian parent company would rank fifth in terms of total assets). CIBC has an impressive track record of 
        span.semibold only 14 complaints received 
        | by the CFPB, of which eight concerned mortgages and six concerned checking or savings accounts. While CIBC only provides personal finance products and branches serving such needs in the Midwestern states of Illinois, Wisconsin, Missouri, and Michigan, it has other banking operations throughout the Eastern United States.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/cibc.png', srcset='images/banks/cibc@2x.png 2x', width='52')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-three-green.svg')
          h3.bank-ranking__title Cathay Bank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: CA, MA, NY, TX, IL, NJ, NV, MD


      p.bank-ranking__text
        | Third on our list is Cathay Bank, a small ($14 billion total assets) but rapidly growing Chinese-American bank based in Los Angeles, with branches in Boston, New York, and a total of eight states. With branches typically located in the Chinatown area of cities in which the bank does business, Cathay Bank 
        span.semibold shows every sign of being an ethical company as regards urban and minority populations. 
        | Cathay Bank has only 13 complaints on file with the CFPB, eight regarding checking or savings accounts, and five concerning mortgage loans, or 0.0035 complaints per million dollars in assets.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/cathay.png', srcset='images/banks/cathay@2x.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-four-green.svg')
          h3.bank-ranking__title First Republic Bank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: CA, OR, NY, CT, MA, NH, FL

      p.bank-ranking__text
        | While there has been some controversy over the fact that First Republic Bank caters toward a wealthier, whiter clientele, this has not prevented it from maintaining an exceptionally good track record of customer satisfaction and 
        span.semibold relatively few complaints 
        | for a bank of its size ($80 billion in assets). In fact, it may help: it may be in this case better to make few loans to lower-income and minority borrowers than to market substandard and/or predatory financial products to them.
      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/first-republic.png', srcset='images/banks/first-republic@2x.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-five-green.svg')
          h3.bank-ranking__title City National Bank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: CA, NV, NY, MN, TN, GA

      p.bank-ranking__text
        | City National Bank, now owned by the Royal Bank of Canada, is the largest bank headquartered in Los Angeles, with operations across the country, and a large client base in the entertainment industry. Nicknamed “bank to the stars,” City National 
        span.semibold boasts an impressive track record of treating all of its customers well: 
        | the CFPB only received two complaints concerning credit cards issued by City National, and 44 for issues pertaining to bank accounts and mortgage loans.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/city-national.png', srcset='images/banks/city-national@2x.png 2x', width='84')

  .tables-container
    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th #
            th Bank

        tbody
          tr
            td 1.
            td Bank of the Ozarks

          tr
            td 2.
            td CIBS Bank USA

          tr
            td 3.
            td Cathay Bank

          tr
            td 4.
            td First Republic Bank

          tr
            td 5.
            td City National Bank

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th #
            th Bank
            th Total Complaints
            th % All Complaints
            th Credit Card Complaints
            th CC Rank
            th Account Complaints
            th Account Complaint Rank
            th Mortgage Complaints
            th Mortgage Rank
            th Complaints/Assets
            th Total Assets

        tbody
          tr
            td 1.
            td Bank of the Ozarks
            td 1
            td 0.00029
            td 0
            td 69
            td 0
            td 104
            td 0
            td 82
            td 0.0000498
            td $20,069m

          tr
            td 2.
            td CIBS Bank USA
            td 14
            td 0.00384
            td 0
            td 69
            td 6
            td 100
            td 8
            td 78
            td 0.000628
            td $22,284m

          tr
            td 3.
            td Cathay Bank
            td 13
            td 0.00356
            td 0
            td 69
            td 8
            td 99
            td 5
            td 80
            td 0.000932
            td $14,306m

          tr
            td 4.
            td First Republic Bank
            td 51
            td 0.01398
            td 0
            td 69
            td 34
            td 85
            td 15
            td 74
            td 0.000629
            td $80,978m

          tr
            td 5.
            td City National Bank
            td 46
            td 0.01261
            td 2
            td 67
            td 31
            td 87
            td 13
            td 71
            td 0.000995
            td $46,211m
