.text-box.text-box--green.text-box--worst
  h2.block-title Best Mid-Size & Larger Banks
  .info-text
    | Note: we defined midsize and larger banks as financial institutions in the top 30 nationwide by total assets. No bank in the top 20 qualified for our top five.

  .bank-ranking
    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-one-green.svg')
          h3.bank-ranking__title MUFG Union Bank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: CA, WA, OR. Commercial Branches in NY, Houston, Dallas & Chicago

      p.bank-ranking__text
        | UnionBank is owned by the Bank of Tokyo and Mitsubishi UFJ, with a headquarters in New York and almost 400 branches across the West Coast states of California, Oregon, and Washington. UnionBank is the 23rd largest bank in the country, with total assets of $116.7 billion, and is ranked at 62nd out of 80 banks for its complaints/assets ratio, with an impressive 0.0049 complaints per million dollars in assets. UnionBank’s 
        span.semibold rate of complaints is particularly low for its credit card products. 

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/mufg.png', srcset='images/banks/mufg@2x.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-two-green.svg')
          h3.bank-ranking__title Bank of the West
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: 600 Branches in the Western & Midwestern US

      p.bank-ranking__text
        | Second on our list is Bank of the West, which is based in California and has over 600 branches and offices across 20 states in the Midwest, Mountain West, and Pacific Coast regions. Like UnionBank, CIBC, and City National, Bank of the West is a wholly-owned subsidiary of a foreign banking corporation, Paris-based BNP Paribas. At 29th largest bank in the US by total assets, Bank of the West has been the subject of 793 complaints to its 
        span.semibold  $86.9 billion in assets 
        | which makes for an impressively low rate of 0.00912 complaints per million. The vast majority of these have concerned checking/savings accounts and loans, with an extraordinarily low number of complaints about credit cards issued by the bank of only 50 in total.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/b-of-the-west.png', srcset='images/banks/b-of-the-west@2x.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-three-green.svg')
          h3.bank-ranking__title BMO Harris Bank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: IL, WI, MN, MO, KS, IN, AZ, FL


      p.bank-ranking__text
        | Chicago-based BMO Harris Bank, one of the largest banks in the Midwest (over 600 branches and 1,300 ATMs) and 26th largest in the country, comes in at third on our list. The bank has received 
        span.semibold comparably low rates of consumer complaints, 
        | which are even lower when taken in the context of its $106 billion in assets (a rate only slightly higher than Bank of the West, at 0.0098 per million). Like Bank of the West, BMO Harris performs best on credit cards.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/bmo-harris.png', srcset='images/banks/bmo-harris@2x.png 2x', width='64')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-four-green.svg')
          h3.bank-ranking__title Huntington National Bank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: IL, IN, KY, MI, WI, OH, PA, WV, and online

      p.bank-ranking__text
        | Huntington National Bank is only slightly smaller than BMO Harris, with $101 billion in assets, and likewise 
        span.semibold relatively few complaints 
        | it issues. In fact, on this metric Huntington does even better, but its average rating suffers from a higher rate of complaints concerning its retail bank accounts. Nevertheless, for a bank of this size, 0.018 complaints per million in assets is an unusually low rate.
      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/huntington.png', srcset='images/banks/huntington@2x.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-five-green.svg')
          h3.bank-ranking__title BBVA Compass
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text Branches in: AL, AZ, CA, CO, FL, NM, TX, and online

      p.bank-ranking__text
        | Completing our list is yet another US bank owned as a subsidiary by a foreign financial firm, BBVA Compass, owned by the Spanish multinational corporation Banco Bilbao Vizcaya Argentaria. BBVA Compass is the 30th largest bank in the US, with 688 branches and $83.9 billion in assets. BBVA has a complaint rate only slightly higher than our last entry, 0.02 per million in assets, with even lower rates for its mortgage, loan, and credit products. While BBVA has received more complaints for its checking and savings accounts, it is worth noting that it is one of the few major US banks that does not participate in Chexsystems, which makes it a good option for those who have been burned by other banks and otherwise unable to open a checking account due to their account history.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/bbva.png', srcset='images/banks/bbva@2x.png 2x', width='84')

  .tables-container
    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th #
            th Bank

        tbody
          tr
            td 1.
            td MUFG Union Bank, N.A.

          tr
            td 2.
            td Bank of the West

          tr
            td 3.
            td BMO Harris Bank, N.A.

          tr
            td 4.
            td Huntington National Bank

          tr
            td 5.
            td BBVA Compass, Financial Corporation

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th #
            th Bank
            th Total Complaints
            th % All Complaints
            th Credit Card Complaints
            th CC Rank
            th Account Complaints
            th Account Complaint Rank
            th Mortgage Complaints
            th Mortgage Rank
            th Complaints/Assets
            th Total Assets

        tbody
          tr
            td 1.
            td MUFG Union Bank, N.A.
            td 571
            td 0.15651
            td 21
            td 54
            td 419
            td 31
            td 118
            td 47
            td 0.004899
            td $116,715m

          tr
            td 2.
            td Bank of the West
            td 793
            td 0.21736
            td 50
            td 42
            td 494
            td 28
            td 129
            td 38
            td 0.009124
            td $86,911m

          tr
            td 3.
            td BMO Harris Bank, N.A.
            td 1037
            td 0.28424
            td 104
            td 31
            td 434
            td 30
            td 405
            td 28
            td 0.009765
            td $106,192m

          tr
            td 4.
            td Huntington National Bank
            td 1873
            td 0.500655
            td 72
            td 35
            td 1141
            td 22
            td 451
            td 24
            td 0.018493
            td $101,280m

          tr
            td 5.
            td BBVA Compass, Financial Corporation
            td 1758
            td 0.48187
            td 190
            td 22
            td 1139
            td 17
            td 313
            td 26
            td 0.020941
            td $83,947m
