.text-box.text-box--conclusions
  h2.block-title Conclusions

  .conclusion-block
    picture
      source(srcset='images/svg/n-one-mob.svg')
      img.conclusions-num(src='images/svg/n-one.svg')

    p.conclusions-text
      | People living in the cities and suburbs, and residents of traditionally democratic states complain of unfair business practices on the part of financial institutions at a much higher rate than those who live in rural, red America.

  .conclusion-block
    picture
      source(srcset='images/svg/n-two-mob.svg')
      img.conclusions-num(src='images/svg/n-two.svg')

    p.conclusions-text
      | Banks have been known to engage in unfair and discriminatory practices in cities, and with minority populations.

  .conclusion-block
    picture
      source(srcset='images/svg/n-three-mob.svg')
      img.conclusions-num(src='images/svg/n-three.svg')

    p.conclusions-text
      | There are three possible explanations: 1) Financial institutions preferentially prey upon people likely to vote for democratic candidates, and indirectly support the election of republicans by treating their constituents better, 2) Liberals whine more than conservatives, who don't complain nearly as much, or 3) Both.
