.text-box.text-box--facts
  h2.block-title Key Findings

  .facts-content
    ul.facts-list
      li.facts-list__item
        p.facts-list__text
          span.semibold
            | Republican-voting regions typically were regions in which few complaints per capita were received, 
          | and democratic-voting regions were ones with high per capita rates of consumer complaints. This pattern held true for both the 2012 and 2016 presidential elections.

      li.facts-list__item
        p.facts-list__text
          span.semibold
            | Per capita rates of consumer complaints accurately predicted the outcome of both the 2016 and 2012 elections 
          | in approximately 75% of the 3142 counties in the US. This is an indicator that, to our knowledge, has not entered into the calculations and prognostications of mainstream election forecasting.

      li.facts-list__item
        p.facts-list__text
          | The so-called 
          span.semibold
            | “Blue Wall” states of Wisconsin and Michigan were significantly more likely to vote republican 
          | than polls and election results for 2012 indicated.

      li.facts-list__item
        p.facts-list__text
          span.semibold
            | Minnesota and Maine showed up as closer to flipping than polling and conventional wisdom suggested, 
          | and this was truly the case in the actual election.

    img.facts-img(src='images/svg/science.svg')