.text-box.text-box--map
  h2.block-title Geographical Observations
  p.main-text.js-before-table
   | Both in the aggregate and broken down by financial product, we have seen with only a few exceptions to a pattern where cities and suburbs, as well as densely populated and ethnically/economically diverse regions exhibit higher rates of consumer complaints, even after adjusting for population. There is a significant urban/rural divide in banking complaints and, one would assume, business practices.
  div.map-container
    .map.img__block
      .map-img__wrapper
        picture
          source(media='(max-width: 759px)', srcset='images/photo/map-759.png, images/photo/map-759@2x.png 2x')
          source(media='(max-width: 1019px)', srcset='images/photo/map-1019.png, images/photo/map-1019@2x.png 2x')
          img.map-img(src='images/photo/map.png', srcset='images/photo/map@2x.png 2x')

      .pswp(tabindex='-1', role='dialog', aria-hidden='true')
        .pswp__bg
        .pswp__scroll-wrap
          .pswp__container
            .pswp__item
              picture
                source(media='(max-width: 759px)', srcset='images/photo/map-big-759.png, images/photo/map-big-759@2x.png 2x')
                img.map-img--big.crop(src='images/photo/map-big.png', srcset='images/photo/map-big@2x.png 2x')
            .pswp__item
              picture
                source(media='(max-width: 759px)', srcset='images/photo/map-big-759.png, images/photo/map-big-759@2x.png 2x')
                img.map-img--big.crop(src='images/photo/map-big.png', srcset='images/photo/map-big@2x.png 2x')

          .pswp__ui.pswp__ui--hidden
            .pswp__top-bar
              .pswp__counter
              button.pswp__button.pswp__button--close(title='Close (Esc)')
              button.pswp__button.pswp__button--share(title='Share')
              button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
              button.pswp__button.pswp__button--zoom(title='Zoom in/out')
              .pswp__preloader
                .pswp__preloader__icn
                  .pswp__preloader__cut
                    .pswp__preloader__donut
            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
              .pswp__share-tooltip
            button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
            button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
            .pswp__caption
              .pswp__caption__center

        a.mobile-only-close(href='')
          i.icon.icon-close
          | GO BACK

        .mobile-only-show
          a.js-table.show-map(href='')
            i.icon.icon-zoom
            span Click for zoom

        .map-container__zoom
          a.js-table.show-map(href='')
            i.icon.icon-zoom
            span Click for zoom

    .map-info
      .map-info__legend
        h4.map-info__legend-title Average Complaints Per Capita
        .map-info__legend-container
          .map-info__legend-item.map-info__legend-item--1
          .map-info__legend-item.map-info__legend-item--2
          .map-info__legend-item.map-info__legend-item--3
          .map-info__legend-item.map-info__legend-item--4
          .map-info__legend-item.map-info__legend-item--5
          .map-info__legend-item.map-info__legend-item--6
          .map-info__legend-item.map-info__legend-item--7
          .map-info__legend-item.map-info__legend-item--8
          .map-info__legend-item.map-info__legend-item--9
          .map-info__legend-item.map-info__legend-item--10

        .map-info__legend-nums
          span.map-info__legend-num 0.00
          span.map-info__legend-num 0.50
          span.map-info__legend-num 1.00

      .map-info__text
        p.map-info__text-item
          span.green-marked Greens 
          | signify low rates of consumer complains per capita, darkest shades are closest to zero

        p.map-info__text-item
          span.pink-marked Pinks 
          | signify high rates of consumer complaints per capita, darkest shades signify highest rates
