.text-box.text-box--maps
  .map-block
    h2.block-title
      | Predicted Outcome of Congressional Elections 2016

    p.under-title__text
      | The incidence of consumer financial complaints proved to be predictive not only of the county-level results of the US presidential elections, but also at the level of elections for the House of Representatives, and at a comparable rate of accuracy.

    .map-img__wrapper
      picture
          source(media='(max-width: 1019px)', srcset='images/maps/tablet/vote-predicted-tab.png, images/maps/tablet/vote-predicted-tab@2x.png 2x')
          img.map-img(id='4', src='images/maps/vote-predicted.png', srcset='images/maps/vote-predicted@2x.png 2x')


  .map-block
    h2.block-title
      | Actual Outcome of Congressional Elections 2016

    p.under-title__text
      | Once again, a key shortcoming of the complaint-based model on the level of congressional elections is that it tends to overestimate the performance of democratic candidates in densely populated, urbanized regions, and underestimates it in traditionally democratic-voting regions, such as Minnesota,the Upper Mississippi River basin, and South Texas.

    .map-img__wrapper
      picture
          source(media='(max-width: 1019px)', srcset='images/maps/tablet/vote-actual-tab.png, images/maps/tablet/vote-actual-tab@2x.png 2x')
          img.map-img(id='5', src='images/maps/vote-actual.png', srcset='images/maps/vote-actual@2x.png 2x')

  .map-block
    h2.block-title
      | Compare Predicted & Actual Congressional Elections 2016

    .map-video__wrapper
      iframe#ytplayer(type='text/html', src='https://www.youtube.com/embed/E6CVi4sY6wA?loop=1&playlist=E6CVi4sY6wA&autoplay=1&controls=0&origin=http://example.com', frameborder='0',allowfullscreen="allowfullscreen", mozallowfullscreen="mozallowfullscreen", msallowfullscreen="msallowfullscreen", oallowfullscreen="oallowfullscreen",webkitallowfullscreen="webkitallowfullscreen")
