.text-box.text-box--maps
  .info-text
    | Predictions based on per capita consumer complaints are accurate up to a point (about 75%), with certain key shortcomings.

  .map-block
    h2.block-title
      | Estimated 2016 Election Results Based on Complaints

    p.under-title__text
      span.semibold
        | With a few key exceptions, the incidence of consumer complaints mirrors the partisan preference of US voters. 

      | In fact, it predicts precisely what the polls missed: that the Upper Midwest was more of a battleground than had been expected. On the other hand, 
      span.semibold
        | complaint data suggested that Georgia and Arizona were going to be more of a battleground than they ultimately turned out to be, 

      | and inaccurately suggested that New Mexico would flip to vote republican for the first time since 2000. It is possible that high population growth rates in Georgia and Arizona, along with a correspondingly increased rate of urbanization and ethnic diversification plays a role here.

    .map-img__wrapper
      picture
          source(media='(max-width: 1019px)', srcset='images/maps/tablet/estimated-2016-tab.png, images/maps/tablet/estimated-2016-tab@2x.png 2x')
          img.map-img(id='0', src='images/maps/estimated-2016.png', srcset='images/maps/estimated-2016@2x.png 2x')


  .map-block
    h2.block-title
      | Actual 2016 Election Results by County

    p.under-title__text
      span.semibold
        | Consumer complaint data did not accurately forecast the outcome of the 2016 election in Florida, 
      | and was confounded, perhaps, by the continued high rates of problematic mortgage loans in the state. Florida was the epicenter of the subprime mortgage crisis, and the significantly higher complaint rates in this state may reflect the ongoing aftermath. On the other hand, compared to the complaint-based prediction for the 2012 election, the data did predict that Florida would vote less democratic — as it did.

    .map-img__wrapper
      picture
          source(media='(max-width: 1019px)', srcset='images/maps/tablet/actual-2016-tab.png, images/maps/tablet/actual-2016-tab@2x.png 2x')
          img.map-img(id='1', src='images/maps/actual-2016.png', srcset='images/maps/actual-2016@2x.png 2x')

  .map-block
    h2.block-title
      | Compare Estimated & Actual 2016 Elections Results

    .map-video__wrapper
      iframe#ytplayer(type='text/html', width='930', height='360', src='http://www.youtube.com/embed/M7lc1UVf-VE?loop=1&playlist=M7lc1UVf-VE&autoplay=1&origin=http://example.com', frameborder='0')
