.text-box.text-box--maps

  .map-block
    h2.block-title
      | Estimated 2012 Election Results Based on Complaints

    p.under-title__text
      | Consumer complaints accurately predicted statewide outcomes in heavily democratic states such as New Jersey and Maryland, as well as in swing states like Florida and Virginia, that voted democratic in 2012. They were unable, however, to distinguish county-level partisan preference in such densely populated states, and in densely populated regions of these states. Likewise, 
      span.semibold
        | our predictions were more bullish on Nevada and Colorado voting democratic, 

      | suggesting wider margins than we ultimately saw. This is possibly due to the fact that lenders such as Synchrony Financial have been sanctioned for discriminatory practices targeting the Latino community. Since Colorado and Nevada have Hispanic populations significantly higher than the national average, actual discriminatory practices may account for these excess complaints.

    .map-img__wrapper
      picture
          source(media='(max-width: 1019px)', srcset='images/maps/tablet/estimated-2012-tab.png, images/maps/tablet/estimated-2012-tab@2x.png 2x')
          img.map-img(id='2', src='images/maps/estimated-2012.png', srcset='images/maps/estimated-2012@2x.png 2x')


  .map-block
    h2.block-title
      | Actual 2012 Election Results by County

    p.under-title__text
      span.semibold
        | Overall, consumer complaint data fell short in rural areas where democratic candidates perform well, and suburban areas where republicans perform well. 

      | This may reflect cultural similarities that transcend partisan affiliation, or it may reflect geographical bias in financial institutions’ business practices.

    .map-img__wrapper
      picture
          source(media='(max-width: 1019px)', srcset='images/maps/tablet/actual-2012-tab.png, images/maps/tablet/actual-2012-tab@2x.png 2x')
          img.map-img(id='3', src='images/maps/actual-2012.png', srcset='images/maps/actual-2012@2x.png 2x')

  .map-block
    h2.block-title
      | Compare Estimated & Actual 2012 Elections Results

    .map-video__wrapper
      iframe#ytplayer(type='text/html', src='https://www.youtube.com/embed/_AaFaSwUrak?loop=1&playlist=_AaFaSwUrak&autoplay=1&origin=http://example.com', frameborder='0')
