.text-box.text-box--methodology.last
  h2.block-title Methodology
  .methodology-content
    img.methodology-img(src='images/svg/methodology-icon.svg')
    .methodology-text
      p.main-text
        | RewardExpert analyzed consumer complaint data from the Consumer Finance Protection Bureau for all complaints categorized as concerning bank accounts, credit cards, and mortgage loans. We aggregated complaints to 3-digit zip code areas and calculated the average complaints per capita rate, then calculated a percentile rank score ranging from 0 to 1 for all areas. We then aggregated data at the county and congressional district level and calculated an average percentile ranking for each geographical unit, and used this score to estimate the fraction of the vote allocated to the republican candidate. We then compared our estimate to the results of the 2016 general election. We repeated this process, filtering out all complaints post-2012 and compared our estimates to the results of the 2012 general election.

  .methodology-source
    p.main-text
      span.semibold Sources: 
      | Consumer Complaints (CFPB), Census Bureau (3-digit zip code & county boundaries and population)

  .methodology-brands
    img.methodology-brands__img(src='images/brand_logo/cfpb.png', srcset='images/brand_logo/cfpb@2x.png 2x')
    img.methodology-brands__img(src='images/brand_logo/census.png', srcset='images/brand_logo/census@2x.png 2x')
