-
  var tops = [
    {
     rank: "1",
     city: "Plano, TX",
     metro: "Dallas-Fort Worth-Arlington TX (Metro)",
     safety: "62.41",
     crime: "63",
     firearms: "42",
     mortality: "63",
     vehicalFatality: "62",
     environment: "57",
     disaster: "30",
     financial: "58",
     health: "68"
    },
    {
     rank: "2",
     city: "Irvine, CA",
     metro: "Los Angeles-Long Beach-Anaheim CA (Metro)",
     safety: "57.85",
     crime: "66",
     firearms: "39",
     mortality: "60",
     vehicalFatality: "59",
     environment: "33",
     disaster: "26",
     financial: "41",
     health: "54"
    },
    {
     rank: "3",
     city: "New York, NY",
     metro: "New York-Newark-Jersey City NY-NJ-PA (Metro)",
     safety: "54.96",
     crime: "56",
     firearms: "65",
     mortality: "59",
     vehicalFatality: "53",
     environment: "61",
     disaster: "57",
     financial: "5",
     health: "55.5"
    },
    {
     rank: "4",
     city: "Chula Vista, CA",
     metro: "San Diego-Carlsbad CA (Metro)",
     safety: "54.31",
     crime: "64",
     firearms: "36",
     mortality: "52",
     vehicalFatality: "50",
     environment: "62",
     disaster: "13",
     financial: "37",
     health: "63.5"
    },
    {
     rank: "5",
     city: "San Jose, CA",
     metro: "San Francisco-Oakland-Hayward CA (Metro)",
     safety: "52.98",
     crime: "55",
     firearms: "34",
     mortality: "64",
     vehicalFatality: "42",
     environment: "44",
     disaster: "15",
     financial: "48",
     health: "74"
    },
    {
     rank: "6",
     city: "Austin, TX",
     metro: "Austin-Round Rock TX (Metro)",
     safety: "52.91",
     crime: "47",
     firearms: "25",
     mortality: "58",
     vehicalFatality: "40",
     environment: "49",
     disaster: "58",
     financial: "65",
     health: "55.5"
    },
    {
     rank: "7",
     city: "Aurora, CO",
     metro: "Denver-Aurora-Lakewood CO (Metro)",
     safety: "51.53",
     crime: "43",
     firearms: "19",
     mortality: "66",
     vehicalFatality: "58",
     environment: "51",
     disaster: "29",
     financial: "66",
     health: "54"
    },
    {
     rank: "8",
     city: "Omaha, NE",
     metro: "Omaha-Council Bluffs NE-IA (Metro)",
     safety: "51.38",
     crime: "37",
     firearms: "35",
     mortality: "51",
     vehicalFatality: "18",
     environment: "29",
     disaster: "48",
     financial: "64",
     health: "72"
    },
    {
     rank: "9",
     city: "Gilbert, AZ",
     metro: "Phoenix-Mesa-Scottsdale AZ (Metro)",
     safety: "50.76",
     crime: "65",
     firearms: "9",
     mortality: "33",
     vehicalFatality: "35",
     environment: "63",
     disaster: "9",
     financial: "51",
     health: "43.5"
    },
    {
     rank: "10",
     city: "San Francisco, CA",
     metro: "San Francisco-Oakland-Hayward CA (Metro)",
     safety: "57.08",
     crime: "26",
     firearms: "43",
     mortality: "65",
     vehicalFatality: "56",
     environment: "56",
     disaster: "21",
     financial: "47",
     health: "49"
    },
    {
     rank: "11",
     city: "Indianapolis, IN",
     metro: "Indianapolis-Carmel-Anderson IN (Metro)",
     safety: "53.34",
     crime: "11",
     firearms: "58",
     mortality: "31",
     vehicalFatality: "66",
     environment: "64",
     disaster: "42",
     financial: "50",
     health: "58"
    },
    {
     rank: "12",
     city: "Lexington, KY",
     metro: "Lexington-Fayette KY (Metro)",
     safety: "53.11",
     crime: "41",
     firearms: "46",
     mortality: "14",
     vehicalFatality: "65",
     environment: "64",
     disaster: "46",
     financial: "62",
     health: "43.5"
    },
    {
     rank: "13",
     city: "Virginia Beach, VA",
     metro: "Virginia Beach-Norfolk-Newport News VA-NC (Metro)",
     safety: "50.66",
     crime: "60",
     firearms: "50",
     mortality: "25",
     vehicalFatality: "47",
     environment: "59",
     disaster: "27",
     financial: "30",
     health: "35"
    },
    {
     rank: "14",
     city: "Jersey City, NJ",
     metro: "New York-Newark-Jersey City NY-NJ-PA (Metro)",
     safety: "50.33",
     crime: "52",
     firearms: "66",
     mortality: "43",
     vehicalFatality: "64",
     environment: "31",
     disaster: "11",
     financial: "3",
     health: "60.5"
    },
    {
     rank: "15",
     city: "Anaheim, CA",
     metro: "Los Angeles-Long Beach-Anaheim CA (Metro)",
     safety: "50.2",
     crime: "58",
     firearms: "33",
     mortality: "60",
     vehicalFatality: "55",
     environment: "20",
     disaster: "8",
     financial: "41",
     health: "27.5"
    },
    {
     rank: "16",
     city: "Santa Ana, CA",
     metro: "Los Angeles-Long Beach-Anaheim CA (Metro)",
     safety: "49.87",
     crime: "50",
     firearms: "32",
     mortality: "60",
     vehicalFatality: "51",
     environment: "22",
     disaster: "32",
     financial: "41",
     health: "29"
    },
    {
     rank: "17",
     city: "Boston, MA",
     metro: "Boston-Cambridge-Newton MA-NH (Metro)",
     safety: "49.41",
     crime: "45",
     firearms: "64",
     mortality: "41",
     vehicalFatality: "63",
     environment: "26",
     disaster: "12",
     financial: "24",
     health: "5"
    },
    {
     rank: "18",
     city: "San Diego, CA",
     metro: "San Diego-Carlsbad CA (Metro)",
     safety: "49.07",
     crime: "57",
     firearms: "31",
     mortality: "52",
     vehicalFatality: "33",
     environment: "50",
     disaster: "37",
     financial: "37",
     health: "26.5"
    },
    {
     rank: "19",
     city: "Seattle, WA",
     metro: "Seattle-Tacoma-Bellevue WA (Metro)",
     safety: "48.81",
     crime: "40",
     firearms: "26",
     mortality: "56",
     vehicalFatality: "54",
     environment: "35",
     disaster: "40",
     financial: "59",
     health: "2"
    },
    {
     rank: "20",
     city: "Fort Worth, TX",
     metro: "Dallas-Fort Worth-Arlington TX (Metro)",
     safety: "48.04",
     crime: "38",
     firearms: "27",
     mortality: "57",
     vehicalFatality: "52",
     environment: "36",
     disaster: "25",
     financial: "56",
     health: "46"
    },
    {
     rank: "21",
     city: "Oakland, CA",
     metro: "San Francisco-Oakland-Hayward CA (Metro)",
     safety: "47.79",
     crime: "5",
     firearms: "59",
     mortality: "55",
     vehicalFatality: "61",
     environment: "18",
     disaster: "5",
     financial: "45",
     health: "32"
    },
    {
     rank: "22",
     city: "Lincoln, NE",
     metro: "Lincoln NE (Metro)",
     safety: "47.23",
     crime: "53",
     firearms: "30",
     mortality: "45",
     vehicalFatality: "16",
     environment: "25",
     disaster: "28",
     financial: "61",
     health: "43.5"
    },
    {
     rank: "23",
     city: "Laredo, TX",
     metro: "Laredo TX (Metro)",
     safety: "47.14",
     crime: "51",
     firearms: "40",
     mortality: "37",
     vehicalFatality: "43",
     environment: "60",
     disaster: "45",
     financial: "6",
     health: "65.5"
    },
    {
     rank: "24",
     city: "Los Angeles, CA",
     metro: "Los Angeles-Long Beach-Anaheim CA (Metro)",
     safety: "45.96",
     crime: "39",
     firearms: "29",
     mortality: "48",
     vehicalFatality: "49",
     environment: "45",
     disaster: "50",
     financial: "25",
     health: "33.5"
    },
    {
     rank: "25",
     city: "El Paso, TX",
     metro: "Las Cruces NM (Metro)",
     safety: "45.7",
     crime: "59",
     firearms: "28",
     mortality: "37",
     vehicalFatality: "10",
     environment: "37",
     disaster: "63",
     financial: "26",
     health: "61.5"
    },
    {
     rank: "26",
     city: "Atlanta, GA",
     metro: "Atlanta-Sandy Springs-Roswell GA (Metro)",
     safety: "43.94",
     crime: "7",
     firearms: "57",
     mortality: "43",
     vehicalFatality: "48",
     environment: "27",
     disaster: "31",
     financial: "27",
     health: "18.5"
    },
    {
     rank: "27",
     city: "Chandler, AZ",
     metro: "Phoenix-Mesa-Scottsdale AZ (Metro)",
     safety: "43.41",
     crime: "62",
     firearms: "10",
     mortality: "33",
     vehicalFatality: "32",
     environment: "41",
     disaster: "10",
     financial: "51",
     health: "35.5"
    },
    {
     rank: "28",
     city: "Columbus, OH",
     metro: "Columbus OH (Metro)",
     safety: "43.23",
     crime: "28",
     firearms: "23",
     mortality: "32",
     vehicalFatality: "26",
     environment: "40",
     disaster: "47",
     financial: "40",
     health: "29"
    },
    {
     rank: "29",
     city: "Baltimore, MD",
     metro: "Baltimore-Columbia-Towson MD (Metro)",
     safety: "43.22",
     crime: "4",
     firearms: "63",
     mortality: "33",
     vehicalFatality: "44",
     environment: "19",
     disaster: "36",
     financial: "32",
     health: "8"
    },
    {
     rank: "30",
     city: "Minneapolis, MN",
     metro: "Minneapolis-St. Paul-Bloomington MN-WI (Metro)",
     safety: "43.03",
     crime: "20",
     firearms: "37",
     mortality: "49",
     vehicalFatality: "46",
     environment: "14",
     disaster: "53",
     financial: "55",
     health: "8"
    },
    {
     rank: "31",
     city: "Riverside, CA",
     metro: "Riverside-San Bernardino-Ontario CA (Metro)",
     safety: "42.93",
     crime: "48",
     firearms: "61",
     mortality: "42",
     vehicalFatality: "36",
     environment: "11",
     disaster: "7",
     financial: "22",
     health: "46.5"
    },
    {
     rank: "32",
     city: "Chicago, IL",
     metro: "Chicago-Naperville-Elgin IL-IN-WI (Metro)",
     safety: "42.26",
     crime: "18",
     firearms: "49",
     mortality: "24",
     vehicalFatality: "60",
     environment: "34",
     disaster: "54",
     financial: "10",
     health: "15.5"
    },
    {
     rank: "33",
     city: "Miami, FL",
     metro: "Miami-Fort Lauderdale-West Palm Beach FL (Metro)",
     safety: "42",
     crime: "19",
     firearms: "54",
     mortality: "47",
     vehicalFatality: "31",
     environment: "5",
     disaster: "59",
     financial: "2",
     health: "42"
    },
    {
     rank: "34",
     city: "Mesa, AZ",
     metro: "Phoenix-Mesa-Scottsdale AZ (Metro)",
     safety: "41.97",
     crime: "54",
     firearms: "11",
     mortality: "33",
     vehicalFatality: "24",
     environment: "54",
     disaster: "64",
     financial: "51",
     health: "55.5"
    },
    {
     rank: "35",
     city: "Milwaukee, WI",
     metro: "Milwaukee-Waukesha-West Allis WI (Metro)",
     safety: "40.99",
     crime: "12",
     firearms: "62",
     mortality: "54",
     vehicalFatality: "25",
     environment: "7",
     disaster: "52",
     financial: "57",
     health: "42.5"
    },
    {
     rank: "36",
     city: "Orlando, FL",
     metro: "Orlando-Kissimmee-Sanford FL (Metro)",
     safety: "40.94",
     crime: "9",
     firearms: "60",
     mortality: "30",
     vehicalFatality: "28",
     environment: "42",
     disaster: "3",
     financial: "18",
     health: "30"
    },
    {
     rank: "37",
     city: "Jacksonville, FL",
     metro: "Jacksonville FL (Metro)",
     safety: "40.38",
     crime: "28",
     firearms: "44",
     mortality: "46",
     vehicalFatality: "14",
     environment: "16",
     disaster: "41",
     financial: "17",
     health: "26.5"
    },
    {
     rank: "38",
     city: "Fort Wayne, IN",
     metro: "Fort Wayne IN (Metro)",
     safety: "39.85",
     crime: "32",
     firearms: "51",
     mortality: "13",
     vehicalFatality: "21",
     environment: "13",
     disaster: "61",
     financial: "49",
     health: "50.5"
    },
    {
     rank: "39",
     city: "San Antonio, TX",
     metro: "San Antonio-New Braunfels TX (Metro)",
     safety: "39.3",
     crime: "21",
     firearms: "15",
     mortality: "16",
     vehicalFatality: "7",
     environment: "53",
     disaster: "62",
     financial: "28",
     health: "52.5"
    },
    {
     rank: "40",
     city: "Sacramento, CA",
     metro: "Sacramento--Roseville--Arden-Arcade CA (Metro)",
     safety: "38.61",
     crime: "36",
     firearms: "21",
     mortality: "28",
     vehicalFatality: "27",
     environment: "39",
     disaster: "16",
     financial: "35",
     health: "23"
    },
    {
     rank: "41",
     city: "Portland, OR",
     metro: "Portland-Vancouver-Hillsboro OR-WA (Metro)",
     safety: "38.32",
     crime: "46",
     firearms: "24",
     mortality: "26",
     vehicalFatality: "34",
     environment: "17",
     disaster: "39",
     financial: "46",
     health: "2.5"
    },
    {
     rank: "42",
     city: "Henderson, NV",
     metro: "Las Vegas-Henderson-Paradise NV (Metro)",
     safety: "38.27",
     crime: "61",
     firearms: "7",
     mortality: "15",
     vehicalFatality: "39",
     environment: "58",
     disaster: "14",
     financial: "16",
     health: "35.5"
    },
    {
     rank: "43",
     city: "Colorado Springs, CO",
     metro: "Colorado Springs CO (Metro)",
     safety: "38.04",
     crime: "42",
     firearms: "3",
     mortality: "37",
     vehicalFatality: "15",
     environment: "48",
     disaster: "49",
     financial: "63",
     health: "52"
    },
    {
     rank: "44",
     city: "Tampa, FL",
     metro: "Tampa-St. Petersburg-Clearwater FL (Metro)",
     safety: "37.45",
     crime: "49",
     firearms: "53",
     mortality: "20",
     vehicalFatality: "13",
     environment: "9",
     disaster: "44",
     financial: "11",
     health: "21"
    },
    {
     rank: "45",
     city: "Kansas City, MO",
     metro: "Kansas City MO-KS (Metro)",
     safety: "37.16",
     crime: "7",
     firearms: "20",
     mortality: "50",
     vehicalFatality: "19",
     environment: "3",
     disaster: "19",
     financial: "60",
     health: "44.5"
    },
    {
     rank: "46",
     city: "Fresno, CA",
     metro: "Fresno CA (Metro)",
     safety: "37",
     crime: "35",
     firearms: "14",
     mortality: "21",
     vehicalFatality: "9",
     environment: "46",
     disaster: "23",
     financial: "13",
     health: "39.5"
    },
    {
     rank: "47",
     city: "Memphis, TN",
     metro: "Memphis TN-MS-AR (Metro)",
     safety: "36.97",
     crime: "2",
     firearms: "47",
     mortality: "10",
     vehicalFatality: "8",
     environment: "21",
     disaster: "60",
     financial: "23",
     health: "39.5"
    },
    {
     rank: "48",
     city: "Phoenix, AZ",
     metro: "Phoenix-Mesa-Scottsdale AZ (Metro)",
     safety: "36.88",
     crime: "30",
     firearms: "6",
     mortality: "40",
     vehicalFatality: "23",
     environment: "38",
     disaster: "35",
     financial: "44",
     health: "31"
    },
    {
     rank: "49",
     city: "Newark, NJ",
     metro: "New York-Newark-Jersey City NY-NJ-PA (Metro)",
     safety: "36.42",
     crime: "27",
     firearms: "45",
     mortality: "23",
     vehicalFatality: "57",
     environment: "8",
     disaster: "6",
     financial: "1",
     health: "39.5"
    },
    {
     rank: "50",
     city: "Arlington, TX",
     metro: "Dallas-Fort Worth-Arlington TX (Metro)",
     safety: "35.67",
     crime: "44",
     firearms: "16",
     mortality: "26",
     vehicalFatality: "29",
     environment: "28",
     disaster: "1",
     financial: "39",
     health: "41"
    },
    {
     rank: "51",
     city: "Lubbock, TX",
     metro: "Lubbock TX (Metro)",
     safety: "35.33",
     crime: "34",
     firearms: "22",
     mortality: "3",
     vehicalFatality: "2",
     environment: "52",
     disaster: "17",
     financial: "33",
     health: "44.5"
    },
    {
     rank: "52",
     city: "Stockton, CA",
     metro: "Stockton-Lodi CA (Metro)",
     safety: "34.93",
     crime: "15",
     firearms: "12",
     mortality: "12",
     vehicalFatality: "20",
     environment: "32",
     disaster: "38",
     financial: "20",
     health: "33"
    },
    {
     rank: "53",
     city: "Philadelphia, PA",
     metro: "Philadelphia-Camden-Wilmington PA-NJ-DE-MD (Metro)",
     safety: "34.87",
     crime: "22",
     firearms: "52",
     mortality: "11",
     vehicalFatality: "38",
     environment: "23",
     disaster: "20",
     financial: "4",
     health: "19.5"
    },
    {
     rank: "54",
     city: "Corpus Christi, TX",
     metro: "Corpus Christi TX (Metro)",
     safety: "34.29",
     crime: "31",
     firearms: "18",
     mortality: "9",
     vehicalFatality: "6",
     environment: "47",
     disaster: "55",
     financial: "8",
     health: "43.5"
    },
    {
     rank: "55",
     city: "Albuquerque, NM",
     metro: "Albuquerque NM (Metro)",
     safety: "33.59",
     crime: "13",
     firearms: "4",
     mortality: "29",
     vehicalFatality: "30",
     environment: "43",
     disaster: "33",
     financial: "14",
     health: "32"
    },
    {
     rank: "56",
     city: "Anchorage, AK",
     metro: "",
     safety: "32.54",
     crime: "16",
     firearms: "5",
     mortality: "6",
     vehicalFatality: "3",
     environment: "64",
     disaster: "66",
     financial: "29",
     health: "64"
    },
    {
     rank: "57",
     city: "Oklahoma City, OK",
     metro: "Oklahoma City OK (Metro)",
     safety: "31.88",
     crime: "6",
     firearms: "1",
     mortality: "1",
     vehicalFatality: "1",
     environment: "12",
     disaster: "2",
     financial: "34",
     health: "16"
    },
    {
     rank: "59",
     city: "Pittsburgh, PA",
     metro: "Pittsburgh PA (Metro)",
     safety: "31.88",
     crime: "1",
     firearms: "41",
     mortality: "5",
     vehicalFatality: "11",
     environment: "1",
     disaster: "34",
     financial: "21",
     health: "14"
    },
    {
     rank: "58",
     city: "Buffalo, NY",
     metro: "Buffalo-Cheektowaga-Niagara Falls NY (Metro)",
     safety: "31.6",
     crime: "10",
     firearms: "56",
     mortality: "2",
     vehicalFatality: "22",
     environment: "10",
     disaster: "43",
     financial: "36",
     health: "33.5"
    },
    {
     rank: "60",
     city: "Cleveland, OH",
     metro: "Cleveland-Elyria OH (Metro)",
     safety: "31.42",
     crime: "33",
     firearms: "13",
     mortality: "7",
     vehicalFatality: "5",
     environment: "55",
     disaster: "18",
     financial: "9",
     health: "38.5"
    },
    {
     rank: "61",
     city: "Tucson, AZ",
     metro: "Tucson AZ (Metro)",
     safety: "31.11",
     crime: "17",
     firearms: "55",
     mortality: "3",
     vehicalFatality: "12",
     environment: "6",
     disaster: "24",
     financial: "12",
     health: "28"
    },
    {
     rank: "62",
     city: "Toledo, OH",
     metro: "Toledo OH (Metro)",
     safety: "30.84",
     crime: "25",
     firearms: "2",
     mortality: "21",
     vehicalFatality: "17",
     environment: "24",
     disaster: "65",
     financial: "31",
     health: "19"
    },
    {
     rank: "63",
     city: "Bakersfield, CA",
     metro: "Bakersfield CA (Metro)",
     safety: "29.36",
     crime: "3",
     firearms: "48",
     mortality: "8",
     vehicalFatality: "41",
     environment: "2",
     disaster: "51",
     financial: "7",
     health: "14.5"
    },
    {
     rank: "64",
     city: "Cincinnati, OH",
     metro: "Cincinnati OH-KY-IN (Metro)",
     safety: "26.14",
     crime: "23",
     firearms: "17",
     mortality: "16",
     vehicalFatality: "45",
     environment: "30",
     disaster: "22",
     financial: "19",
     health: "3.5"
    },
    {
     rank: "65",
     city: "St. Louis, MO",
     metro: "St.Louis MO-IL (Metro)",
     safety: "18.97",
     crime: "14",
     firearms: "38",
     mortality: "18",
     vehicalFatality: "37",
     environment: "4",
     disaster: "4",
     financial: "15",
     health: "28"
    },
    {
     rank: "66",
     city: "Tulsa, OK",
     metro: "Tulsa OK (Metro)",
     safety: "57",
     crime: "24",
     firearms: "8",
     mortality: "19",
     vehicalFatality: "4",
     environment: "15",
     disaster: "56",
     financial: "54",
     health: "60"
    }
  ]