.main-pic
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports
    .breadcrumbs__item
      | 2017’s Most and Least Safe Cities
  .article-text
    h1.article-title America’s Financial Vampires: Which Financial Institutions Are Sucking You Dry?
    p.article-text__item The Best and Worst Financial Institutions Based on Consumer Complaints
    p.article-author RewardExpert
  .main-pic__mask
.text-box.text-box--upper
  .upper-pic
    img(src='images/svg/main-icon.svg', alt='Cities Icon')
  p.under-title
    | All financial products carry a degree of risk, and most – if not all – consumers will at some time or another fall prey to questionable business practices by a bank or financial institution. The question follows: how, then, can consumers determine with which bank it is best to open an account, obtain a credit card, or sign a mortgage? Which will sustain you, and which will drain you?
  p.main-text
    | To answer this question, RewardExpert analyzed consumer complaint data from the Consumer Finance Protection Bureau for four categories: bank accounts, credit cards, mortgages, and loans. Knowing full well that the answer would vary from place to place, we organized the data geographically using regions defined by the first three-digit zip code. Using GIS software to visualize this data as a map we noticed more geographical patterns and disparities than we expected to find.
  p.main-text
    | In this first installment of a three-part series, we will identify the best and worst banks and financial institutions across the country, as well as the most striking geographical disparity that can be seen on the national level: either rural and urban America are not being treated equally by financial institutions, or else there are cultural, dispositional, or even political reasons to explain the sharp difference in complaints between the two.
