.text-box.text-box--purple.text-box--worst
  h2.block-title The Top Five Worst Financial Institutions
  .info-text
    | Even though our analysis was designed to be fair and even-handed to all financial institutions regardless of size, using the ratio of consumer complaints per capita, adjusted for total domestic bank assets, three of the top five receiving the most complaints are also among the top five banks in the U.S. by assets. The other two, however, are quite small and specialized by comparison.

  .bank-ranking
    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-one-red.svg')
          h3.bank-ranking__title Ocwen Loan Servicing
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text #1 For Credit Card Complaints

      p.bank-ranking__text
        | Ocwen Loan Servicing is a wholly owned subsidiary of Ocwen Financial, the fourth-largest servicer of subprime mortgage loans in the country. Ocwen takes first place on our list for its extraordinarily high rate of consumer complaints about its business practices on both a per-capita basis, and even more so in relation to its total domestic assets of $7.92 billion. With a total of 
        span.semibold 24,385 complaints 
        | filed with the CFPB, this amounts to a little more than three complaints for every million dollars of Ocwen’s assets (for reference, the second highest complaint/asset ratio of all financial institutions is 0.1348 per million for American Express). In 2013 Ocwen was sued by the CFPB and 49 states for mortgage servicing misconduct, and signed a consent order agreeing to a $2.1 billion settlement. Ocwen’s complaints are clustered in the suburban/exurban regions surrounding most major cities, with an additional hot spot covering the entire state of Colorado.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/ocwen.png', srcset='images/banks/ocwen.png 2x', width='57')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-two-red.svg')
          h3.bank-ranking__title Bank of America Springs
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text #1 For Bank Accounts Complaints
          span.bank-ranking__under-title-text #4 For Credit Cards Complaints
          span.bank-ranking__under-title-text #2 For Mortgage Loans Complaints

      p.bank-ranking__text
        | While Bank of America has the highest number of consumer complaints across the country in total, as well as for both checking/savings accounts and mortgage loans, this is mitigated – slightly – by its large size and $170.5 billion in assets (third-largest bank by assets). Bank of America’s role in subprime mortgage lending is well-known, and as such it is not surprising that in this category it is second only to Ocwen in complaints. Bank of America’s terms, conditions, fees, and policies concerning checking and savings accounts are what secures their place on this list. Highlights (or rather lowlights) include high overdraft fees, as well as a policy of processing transactions in such an order as to maximize the incidence of overdrafts, and 
        span.semibold charging overdraft fees for overdrafts caused by overdraft fees. 
        | Geographically speaking, Bank of America receives complaints everywhere, with especially high rates being seen in cities and suburbs, as well as throughout the Mid-Atlantic and Pacific Coast regions.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/b-of-america.png', srcset='images/banks/b-of-america.png 2x', width='84')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-three-red.svg')
          h3.bank-ranking__title Wells Fargo
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text #2 For Bank Accounts Complaints
          span.bank-ranking__under-title-text #8 For Credit Cards Complaints
          span.bank-ranking__under-title-text #3 For Mortgage Loans Complaints

      p.bank-ranking__text
        | Say what you will about accounts with Bank of America; at least they were most likely opened with the customer’s authorization and knowledge. It is possible that, in the aftermath of 
        span.semibold the unauthorized account scandal that exposed many deceptive and downright vampiric business practices 
        | at Wells Fargo (for which the company was fined $185 million), the rate of complaints might well understate the issue. These aggressive and unauthorized sales tactics affected consumers of all types of financial products, as employees were encouraged to maximize the number of various accounts held by customers. Accordingly, Wells Fargo has high rates of consumer complaints across the board. In terms of geographical distribution, we found high rates of complaints everywhere except for New England and upstate New York, and a wide swath of territory extending through Appalachia and the lower Midwest to Oklahoma and Louisiana.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/wells-fargo.png', srcset='images/banks/wells-fargo.png 2x', width='48')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-four-red.svg')
          h3.bank-ranking__title Synchrony Financial
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text #3 For Credit Cards (Private Label) Complaints

      p.bank-ranking__text
        | Synchrony Financial is one of the worst banks that you might not recognize, even if you have a credit card provided by them. This is because Synchrony specializes in private label credit cards, for brands such as Amazon, Walmart, Lowe’s, BP, J.C. Penney, among others, controlling 42% of the private label card market. In 2014, Synchrony settled with the CFPB for 
        span.semibold $225 million in a consent decree for “deceptive and discriminatory practices.” 
        | The company was found to have engaged in discrimination against its Hispanic/Spanish-speaking customers by not offering certain promotions, and there is clear evidence in support of such practices in the geographical distribution of complaints. Almost every sizable, ethnically diverse city outside of New England had high per-capita rates of complaints, and diverse states such as Maryland, New Jersey, and Delaware saw high rates statewide. This suggests that Synchrony was only held accountable for one among many of their 'deceptive and discriminatory practices. Across the country, Synchrony Financial has the fourth highest rate of complaints per million dollars it holds in assets, at 0.125 complaints per million.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/synchrony.png', srcset='images/banks/synchrony.png 2x', width='110')

    .bank-ranking__item
      .bank-ranking__header
        .bank-ranking__header-text
          img.bank-ranking__num(src='images/svg/n-five-red.svg')
          h3.bank-ranking__title Citibank
        p.bank-ranking__under-title
          span.bank-ranking__under-title-text #1 For Credit Cards Complaints
          span.bank-ranking__under-title-text #4 For Bank Accounts Complaints
          span.bank-ranking__under-title-text #5 For Mortgage Loans Complaints

      p.bank-ranking__text
        | Rounding out our list is Citibank, which carries the dubious distinction of 
        span.semibold receiving the most complaints about its credit cards, 
        | both absolutely and on a per-capita basis. Citibank lives up to its name, with virtually every large or mid-size city in the country being a complaint hot spot; the few exceptions including Providence, RI; Hartford, CT; Nashville, TN; Fargo, ND; Spokane, WA; and the Missouri side of Kansas City. The pattern is similar with checking/savings accounts and mortgage loans, with an even greater urban concentration in the former, and somewhat less in the latter. If you live in a major city or a nearby suburban county, Citibank may not be for you.

      .bank-ranking__logo-container
        .bank-ranking__logo
          img.bank-ranking__logo-img(src='images/banks/citibank.png', srcset='images/banks/citibank.png 2x', width='83')

  .tables-container
    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th #
            th Bank

        tbody
          tr
            td 1.
            td Ocwen Loan Servicing, LLC

          tr
            td 2.
            td Bank of America, N.A.

          tr
            td 3.
            td Wells Fargo & Company

          tr
            td 4.
            td Synchrony Financial

          tr
            td 5.
            td Citibank, N.A.

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th #
            th Bank
            th Total Complaints
            th % All Complaints
            th Credit Card Complaints
            th CC Rank
            th Account Complaints
            th Account Complaint Rank
            th Mortgage Complaints
            th Mortgage Rank
            th Complaints/Assets
            th Total Assets

        tbody
          tr
            td 1.
            td Ocwen Loan Servicing, LLC
            td 24,487
            td 6.7
            td 6
            td 34
            td 62
            td 65
            td 24,385
            td 1
            td 3.0871
            td $7,932m

          tr
            td 2.
            td Bank of America, N.A.
            td 66,823
            td 18.3
            td 9861
            td 14
            td 15229
            td 1
            td 40,880
            td 2
            td 0.04146
            td $1,705,928m

          tr
            td 3.
            td Wells Fargo & Company
            td 55,193
            td 15.1
            td 4466
            td 20
            td 14415
            td 2
            td 32,112
            td 3
            td 0.03298
            td $1,731,937m

          tr
            td 4.
            td Synchrony Financial
            td 11,311
            td 3.1
            td 9569
            td 3
            td 779
            td 26
            td 204
            td 17
            td 0.12539
            td $90,207m

          tr
            td 5.
            td Citibank, N.A.
            td 33,503
            td 9.2
            td 18219
            td 8
            td 4766
            td 4
            td 9,088
            td 5
            td 0.03936
            td $1,401,303m
