@media (min-width: 1850px)
  .content
    width: 1360px

  .main-pic
    padding: 32px 60px 32px 60px
    background-position center

  .text-box
    padding: 60px
    &--upper
      position: relative

  .upper-pic
    left: 60px

  .under-title
    min-height: 120px

  .map-img
    width: 1240px

  .map-video__wrapper
    video
      width: 1240px
      height: 400px

@media (max-width: 1850px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

@media (max-width: 1370px)
  .content
    width: 980px

  .article-title
    font-size: 40px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 42px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 568px
    background-repeat no-repeat
    background-position center
    padding: 32px 25px 45px 25px

  .under-title
    margin-bottom: 32px
    padding-left: 150px

  .upper-pic
    left: 25px

  .text-box
    padding-left: 25px
    padding-right: 25px

  .map-img
    width: 930px

  .map-video__wrapper
    video
      width: 930px
      height: 400px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .text-box.last
    padding-top: 41px

  .bottom-col
    width: 48%
    padding-right: 8px

  .text-box.last
    display: block

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .article-title
    font-size: 32px
    line-height: 38px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 345px
    padding: 32px 25px 32px 25px
    background-image url("images/main_pic_768.png")
    background-image: -webkit-image-set(url(images/main_pic_768.png) 1x, url(images/main_pic_768@2x.png) 2x)
    background-position center

  .main-pic__mask
    height: 230px

  .top-menu__link
    margin: 0 10px

  .text-box
    padding: 32px 25px 32px 25px
    &--upper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      padding-left: 25px
      padding-bottom: 24px
      .upper-pic
        position: static

      .under-title
        width: 545px
        margin-bottom: 18px

      .main-text
        width: 100%
        margin-bottom: 20px

  .text-box--maps
    padding-bottom: 40px

  .methodology-sources__item
    width: auto

  .block-title
    margin-bottom: 30px

  .under-title
    font-size: 16px
    padding-left: 0

  .map-block
    margin-bottom: 41px
    &:last-child
      margin-bottom: 0

  .map-img
    width: 690px

  .map-video__wrapper
    video
      width: 690px
      height: 400px

  .info-text
    width: 690px

  .facts-list
    width: 100%

  .facts-list__item
    padding-bottom: 24px

    &:first-child,
    &:nth-child(2)
      margin-right: 244px

    &:last-child
      padding-bottom: 0

  .facts-img
    position: absolute
    width: 229px
    right: 0
    top: 60px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box.last
    padding-top: 25px

  .popup
    .controls
      bottom: 260px

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 22px
    line-height: 30px
    font-weight: 600

  .article-text__item
    min-width: 265px
    width: auto
    font-size: 16px
    line-height: 24px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-text
    margin-bottom: 20px
    &:last-child
      margin-botoom: 0

  .main-pic
    height: 345px
    padding: 16px 12px 16px 12px

  .main-pic__mask
    height: 270px

  .text-box
    padding: 32px 12px 32px 12px
    &--upper
      justify-content: center
      .upper-pic
        margin-bottom: 32px
      .under-title
        width: 100%

      .under-title
        font-size: 16px
        line-height: 28px
        font-weight: 200

      .main-text
        font-size: 14px
        line-height: 24px
        font-weight: 300

  .map-block
    margin-bottom: 32px
    &:last-child
      margin-bottom: 0

  .facts-content
    flex-direction: column

  .facts-list
    order: 2

  .facts-list__item
    padding-bottom: 16px

    &:first-child,
    &:nth-child(2)
      margin-right: 0

    &:last-child
      padding-bottom: 0

  .facts-img
    position: static
    width: 243px
    align-self: center
    margin-bottom: 24px

  .map-img
    width: 100%

  .map-video__wrapper
    video
      width: 100%
      height: 300px

  .methodology-content
    flex-direction: column
    align-items: center

  .info-text
    width: calc(100% - 24px)
    padding: 16px
    &:before
      left: 50%
      top: -16px
      transform: translateX(-50%)

  .methodology-img
    margin-right: 0
    margin-bottom: 24px

  .under-title
    margin-bottom: 24px

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100%

  .block-title
    font-size 26px
    line-height: 34px

  .text-box--maps
    .block-title
      margin-bottom: 16px

  .under-title__text
    margin-bottom: 16px

  .main-article--table
    .block-title
      font-size 26px
      line-height: 34px

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-source
    margin-left: 0

  .methodology-brands
    margin-left: 0
    justify-content: space-around

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .mobile-only-show
    display: block

  .colorful
    display block
    .breadcrumbs__item
      display inline-block

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top

  .main-article--table
    .breadcrumbs__item
      &:nth-child(3)
        overflow: hidden
        min-width: 90px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .mobile-only-close
    display: none
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #e589a8
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 43px
    font-weight bold
    position: fixed
    background: #ffffff
    -webkit-backface-visibility: hidden
    top: 10px
    right: 25px
    border: 1px solid #e589a8
    .icon
      margin-right: 8px
    &:hover
      border: 1px solid transparent
      background: #f8dce5
      transition: .25s

  .map-container.show
    padding-top: 20px
    padding-bottom: 20px
    .mobile-only-show
      display: none
    .mobile-only-close
      width: 80px
      display: block
      position: fixed
      top: 10px
      right: 25px
    .map-info
      padding-left: 24px
    .map-info__text-item
      margin-bottom: 0
    .map-img__wrapper
      align-items: flex-start
      overflow-x: scroll
    .map-img
      display: none
    .map-img--big
      display: block

  .map-container__zoom
    display: none

