@media (min-width: 1850px)
  .content
    width: 1360px

  .main-pic
    padding: 32px 60px 32px 60px
    background-position center

  .text-box
    padding: 64px 60px 64px 60px
    &--upper
      position: relative

  .upper-pic
    left: 60px

  .text-box--purple,
  .text-box--green
    padding-left: 0
    padding-right: 0

  .ranking-table__wrapper
    padding-left: 60px
    padding-right: 60px

@media (max-width: 1850px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

@media (max-width: 1370px)
  .content
    width: 980px

  .article-title
    font-size: 40px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 42px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 568px
    background-repeat no-repeat
    background-position center
    padding: 32px 25px 45px 25px

  .under-title
    margin-bottom: 32px
    padding-left: 150px

  .upper-pic
    left: 25px

  .text-box
    padding-left: 25px
    padding-right: 25px

  .text-box--purple,
  .text-box--green
    padding-left: 0
    padding-right: 0

  .ranking-table
    thead
      th
        padding: 0 4px

    tbody
      td
        padding: 0 4px

  .ranking-table__wrapper
    padding-left: 25px
    padding-right: 25px

  .map-info__text
    margin-left: 40px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .text-box.last
    padding-top: 41px

  .bottom-col
    width: 48%
    padding-right: 8px

  .text-box.last
    display: block

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .article-title
    font-size: 32px
    line-height: 38px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 345px
    padding: 32px 25px 32px 25px
    background-image url("images/main_pic_768.png")
    background-image: -webkit-image-set(url(images/main_pic_768.png) 1x, url(images/main_pic_768@2x.png) 2x)
    background-position center

  .main-pic__mask
    height: 230px

  .top-menu__link
    margin: 0 10px

  .text-box
    padding: 44px 25px 44px 25px
    &--upper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      padding-left: 25px
      .upper-pic
        position: static

      .under-title
        width: 545px
        margin-bottom: 18px

      .main-text
        width: 100%
        margin-bottom: 20px

  .text-box--purple,
  .text-box--green
    padding-left: 0
    padding-right: 0

  .bank-ranking__under-title
    max-width: 410px

  .methodology-sources__item
    width: auto

  .block-title
    margin-bottom: 30px

  .under-title
    font-size: 16px
    padding-left: 0

  .info-text
    width: 690px

  .tables-container
    display: flex
    flex-direction: row

  .mobile-only
    width: 220px
    display: flex
    flex-direction: column

  .ranking-table
    thead
      th
        padding: 0 8px

    tbody
      td
        padding: 0 8px

  .ranking-table.ranking-table--fixed
    width: 220px
    position: relative
    border-radius: 5px 0 0 0
    background: #b70a36
    border-right: none
    box-shadow: 2px 0 13px 0 rgba(0,0,0,0.16)

    th
      vertical-align: middle

    th:last-child
      position: relative
      &:after
        content: ''
        position: absolute
        width: 1px
        height: 60px
        background: rgba(255, 255, 255, 0.3)
        right: 0
        top: 0

    td
      &:first-child
        width: 2%

  .ranking-table__wrapper
    overflow-x: scroll
    width: calc(100% - 220px)
    padding-left: 0
    padding-right: 0

  .ranking-table--data
    border-radius: 0 5px 5px 5px
    border-left: none
    thead
      th
        &:first-child,
        &:nth-child(2)
          display: none

    tbody
      td
        &:first-child,
        &:nth-child(2)
          display: none

  .text-box--green
    .ranking-table.ranking-table--fixed
      background: #008A0B

  .bank-ranking__item
    width: 690px

  .map-info
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start

  .map-info__text
    margin-left: 0

  .map-info__legend
    margin-bottom: 24px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box.last
    padding-top: 25px

  .popup
    .controls
      bottom: 260px

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 22px
    line-height: 30px
    font-weight: 600

  .article-text__item
    min-width: 265px
    width: auto
    font-size: 16px
    line-height: 24px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-text
    margin-bottom: 20px
    &:last-child
      margin-botoom: 0

  .main-pic
    height: 345px
    padding: 16px 12px 16px 12px

  .main-pic__mask
    height: 170px

  .text-box
    padding: 32px 12px 32px 12px
    &--upper
      justify-content: center
      .upper-pic
        margin-bottom: 32px
      .under-title
        width: 100%

      .under-title
        font-size: 16px
        line-height: 28px
        font-weight: 200

      .main-text
        font-size: 14px
        line-height: 24px
        font-weight: 300

  .methodology-content
    flex-direction: column
    align-items: center

  .info-text
    width: calc(100% - 24px)
    padding: 16px
    &:before
      left: 50%
      top: -16px
      transform: translateX(-50%)

  .bank-ranking__item
    width: calc(100% - 24px)
    padding: 110px 12px 24px 12px

  .bank-ranking__logo-container
    right: 50%
    transform: translateX(50%)

  .bank-ranking__header-text
    align-items: center
    margin-bottom: 10px

  .bank-ranking__num
    position: static
    margin-right: 20px

  .bank-ranking__header
    margin-bottom: 17px

  .bank-ranking__title
    font-size: 24px
    margin-bottom: 0
    margin-left: 0

  .bank-ranking__under-title
    margin-left: 0

  .bank-ranking__under-title-text
    font-size: 11px
    margin-right: 0
    line-height: 20px

  .bank-ranking__text
    font-size: 12px

  .mobile-only
    width: 150px

  .ranking-table.ranking-table--fixed
    width: 150px

  .ranking-table__wrapper
    width: calc(100% - 150px)

  .ranking-table--data
    border-radius: 0 5px 5px 5px
    border-left: none
    thead
      th
        &:first-child,
        &:nth-child(2)
          display: none

    tbody
      td
        &:first-child,
        &:nth-child(2)
          display: none

  .text-box--green
    .ranking-table.ranking-table--fixed
      background: #008A0B

  .map-container
    display: flex
    flex-direction: column

  .map-img__wrapper
    margin-bottom: 45px

  .map-img__wrapper
    flex-direction: column
    align-items: center

  .map-info__legend
    width: 276px

  .map-info__text-item
    margin-bottom: 16px

  .map-info__legend-item
    height: 12px

  .methodology-img
    margin-right: 0
    margin-bottom: 24px

  .under-title
    margin-bottom: 24px

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100%

  .block-title
    font-size 26px
    line-height: 34px

  .main-article--table
    .block-title
      font-size 26px
      line-height: 34px

  .text-box--purple,
  .text-box--green
    padding-left: 0
    padding-right: 0

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-source
    margin-left: 0

  .methodology-brands
    margin-left: 0
    justify-content: space-around

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .mobile-only-show
    display: block

  .colorful
    display block
    .breadcrumbs__item
      display inline-block

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top

  .main-article--table
    .breadcrumbs__item
      &:nth-child(3)
        overflow: hidden
        min-width: 90px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .mobile-only-close
    display: none
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #e589a8
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 43px
    font-weight bold
    position: fixed
    background: #ffffff
    -webkit-backface-visibility: hidden
    top: 10px
    right: 25px
    border: 1px solid #e589a8
    .icon
      margin-right: 8px
    &:hover
      border: 1px solid transparent
      background: #f8dce5
      transition: .25s

  .map-container.show
    padding-top: 20px
    padding-bottom: 20px
    .mobile-only-show
      display: none
    .mobile-only-close
      width: 80px
      display: block
      position: fixed
      top: 10px
      right: 25px
    .map-info
      padding-left: 24px
    .map-info__text-item
      margin-bottom: 0
    .map-img__wrapper
      align-items: flex-start
      overflow-x: scroll
    .map-img
      display: none
    .map-img--big
      display: block

  .map-container__zoom
    display: none

