@media (min-width: 1850px)
  .content
    width: 1360px

  .main-pic
    padding: 32px 60px 32px 60px
    background-position center

  .text-box
    padding: 64px 60px 64px 60px
    &--upper
      position: relative
      padding-left: 315px

  .upper-pic
    left: 60px

  .show_more
    margin-top: 44px

  .ontime-tables__table-wrapper
    width: 593px

@media (max-width: 1850px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

@media (max-width: 1370px)
  .content
    width: 980px

  .article-title
    font-size: 40px
    line-height: 68px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 42px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 568px
    background-repeat no-repeat
    background-position right top
    padding: 32px 40px 45px 45px

  .under-title
    margin-bottom: 32px
    padding-left: 290px
    min-height: 180px

  .text-box--upper
    padding-left: 45px

  .upper-pic
    left: 54px

  .airline-rank__table--wrapper
    width: 527px
    margin-left: 24px

  .info-list--ontime
    margin-bottom: 24px

  .ontime-tables__wrapper
    width: 100%
    margin-bottom: 24px
    &:last-child
      margin-bottom: 0

  .full-table
    tbody
      td
        &:nth-child(2),
        &:nth-child(3)
          width: 21%

  .ontime-tables__table-wrapper
    width: 100%

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .text-box.last
    padding-top: 41px

  .bottom-col
    width: 48%
    padding-right: 8px

  .text-box.last
    display: block

@media (min-width: 1019px) and (max-width: 1370px)
  .full-table
    thead
      th
        padding: 0 12px
    tbody
      td
        padding: 0 12px

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .article-title
    font-size: 32px
    line-height: 38px
    font-weight: 600

  .article-text__item
    width: 650px
    font-size: 24px
    line-height: 30px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 345px
    padding: 32px 25px 32px 25px
    background-image url("images/main_pic_768.png")
    background-image: -webkit-image-set(url(images/main_pic_768.png) 1x, url(images/main_pic_768@2x.png) 2x)
    background-position center

  .top-menu__link
    margin: 0 10px

  .text-box
    padding: 44px 25px 44px 25px
    &--upper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      padding-left: 25px
      .upper-pic
        position: static
        width: 210px

      .under-title
        width: 445px
        margin-bottom: 32px

      .main-text
        width: 100%

  .block-title
    margin-bottom: 32px

  .under-title
    font-size: 16px
    padding-left: 0

  .calendar
    padding-left: 0

  .calendar__img
    position: static
    margin: 0 auto 18px auto

  .airline-rank
    flex-direction: column

  .airline-rank__table--wrapper
    margin: 32px auto 0 auto
    width: 100%

  .full-table
    thead
      th
        padding: 0 10px
        &:nth-child(3)
          display: none
    tbody
      td
        padding: 0 10px
        &:nth-child(2)
          width: 31%
        &:nth-child(3)
          display: none

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box.last
    padding-top: 25px

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .article-title
    font-size: 22px
    line-height: 30px
    font-weight: 600

  .article-text__item
    min-width: 265px
    width: auto
    font-size: 16px
    line-height: 24px
    font-weight: 300
    margin-bottom: 12px

  .article-author
    font-size: 12px
    line-height: 16px
    font-weight: 300

  .main-pic
    height: 345px
    padding: 16px 12px 16px 12px

  .main-pic__mask
    height: 170px

  .text-box
    padding: 32px 12px 32px 12px
    &--upper
      justify-content: center
      .upper-pic
        margin-bottom: 32px
      .under-title
        width: 100%

      .under-title
        font-size: 16px
        line-height: 28px
        font-weight: 200

      .main-text
        font-size: 14px
        line-height: 24px
        font-weight: 300

  .calendar__img
    width: 276px
    margin: 0 auto 18px auto
    img
      width: 276px

  .airline-rank__table
    th
      font-size: 10px
      &:nth-child(3)
        border-right: none
      &:nth-child(4),
      &:nth-child(5)
        display: none
    td
      font-size: 12px
      &:nth-child(4),
      &:nth-child(5)
        display: none

  .info-list--ontime
    margin-bottom: 8px

  .ontime-tables__wrapper
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0

  .ontime-tables__table
    th
      font-size: 10px
      &:nth-child(3)
        border-right: none
      &:nth-child(4),
      &:nth-child(5)
        display: none
    td
      font-size: 12px
      &:nth-child(4),
      &:nth-child(5)
        display: none
      &:nth-child(2)
        width: 58%

  .ontime-tables__header
    font-size: 10px
    padding-left: 16px
    &:before
      display: none

  .full-table-wrapper
    min-width: 690px

  .full-table
    thead
      th
        padding: 0 6px
        font-size: 10px

    tbody
      td
        padding: 0 6px
        font-size: 10px
      &:nth-child(2),
      &:nth-child(3)
        font-size: 12px


  .methodology-content
    flex-direction: column
    align-items: center

  .methodology-img
    margin-right: 0
    margin-bottom: 24px

  .under-title
    margin-bottom: 24px

  .full-table-wrapper
    border: none

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100%

  .block-title
    font-size 26px
    line-height: 34px

  .main-article--table
    .block-title
      font-size 26px
      line-height: 34px

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .show-table
    text-align center
    font-size: 12px
    color: $main_color
    letter-spacing: 0
    line-height: 22px
    margin: 0 auto
    display: block
    span
      border-bottom: 1px dotted $main_color
      margin-left: 8px
    &:hover
      span
        border-bottom: none

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .mobile-only-show
    display: block

  .colorful
    display block
    .breadcrumbs__item
      display inline-block

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top

  .main-article--table
    .breadcrumbs__item
      &:nth-child(3)
        overflow: hidden
        min-width: 90px

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .mobile-only-close
    display: none
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-image: linear-gradient(-90deg, #B56142 0%, #9B443D 100%)
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .ranking-table
    .full-table
      display: none
    .mobile-only-show
      display: block

  .ranking-table.show
    padding-top: 20px
    margin-right: 15px
    margin-left: 15px
    margin-top: 45px
    .primary-text
      display: none
    .block-title
      font-size: 24px
      font-weight: 600
    .full-table
      display: table
      width: 100%
      overflow scroll
    .mobile-only-show
      display: none
    .mobile-only-close
      display: block
    .full-table-wrapper
      border: 1px solid #f2ece6
