@import "_variable.styl"

body
  font-family: Whitney SSm A, sans-serif
  $ultraThin()
  color: #0A0C0D

.main-article
  &--table
    margin-bottom: 290px

.content
  width: 1220px
  margin: 0 auto
  position relative

ul,li
  list-style: none
  padding: 0
  margin: 0

.main-article
  padding-top: 32px

.page__wrap
  background-image: url(images/footer_bg.png), url(images/svg/clouds_bg.svg), url(images/svg/clouds_bg.svg), linear-gradient(-180deg, #34C4F0 0%, #1C90E2 100%)
  background-position 50% 100%, 0 250px, 600px 50%
  background-repeat no-repeat, repeat-x, repeat-x
  background-size: auto, auto, auto

.main-pic
  position: relative
  background-position: center
  background-size: cover
  height: 568px
  padding: 34px 44px 47px 44px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  border-radius: 5px 5px 0 0
  align-items: flex-start
  position: relative
  background-image: url('images/main_pic.png')
  background-image: -webkit-image-set(url(images/main_pic.png) 1x, url(images/main_pic@2x.png) 2x)

.main-pic__mask
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 450px
  opacity: 0.6
  background-image: linear-gradient(-180deg, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 100%)

.article-text
  margin-top: auto
  z-index: 2

.article-title
  color: $color_white
  font-size: 50px
  line-height: 56px
  font-weight: 600
  margin-bottom: 12px

.article-text__item
  color: $color_white
  font-size: 22px
  line-height: 28px
  font-weight: 300
  margin-bottom: 36px

.article-author
  position: relative
  color: $color_white
  font-size: 12px
  line-height: 14px
  font-weight: 300
  padding-left: 32px
  &:before
    content: ''
    position: absolute
    left: 0
    top: -2px
    width: 20px
    height: 20px
    background-image: url(images/icons/author.svg)
    background-repeat: no-repeat

.breadcrumbs
  &__wrap
    display: flex
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10)
    border-radius: 2px
    padding: 0 14px
  &__item
    font-size: 12px
    letter-spacing: 0
    line-height: 42px
    color: #667780
    &:first-child
      &:before
        display: none
    &:before
      content: ''
      display: inline-block
      color: #fff
      width: 6px
      height: 13px
      background-image: url(images/svg/arrow.svg)
      background-position: 0px 5px
      background-size: 100% auto
      margin: 0 6px 0 8px
      background-repeat no-repeat

  &__link
    color: $main_color
    letter-spacing: 0
    line-height: 42px
    text-decoration underline
    text-decoration-color: #A3DCF0
    $ultraThin()
    &:hover
      text-decoration none

.text-box
  padding: 45px
  background-color: $color_white
  margin-bottom: 10px

.text-box--upper
  position: relative
  padding-bottom: 50px
  .main-text
    font-weight: 400

.text-box--facts
  background: #EFF9FF

.text-box--conclusions
  background: #ECF8FF

.text-box--maps
  .block-title
    margin-bottom: 24px

.under-title__text
  font-size: 14px
  line-height: 24px
  font-weight: 400
  margin-bottom: 24px

.facts-content
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.facts-list
  width: 714px

.facts-list__text
  font-size: 16px
  line-height: 28px
  color: #222B43
  font-weight: 400

.semibold
  font-weight: 600

.facts-content
  position: relative

.facts-list__item
  position: relative
  padding-left: 31px
  padding-bottom: 32px
  &:before
    content: ''
    width: 15px
    height: 17px
    position: absolute
    left: 0
    top: 6px
    background: url(images/icons/list-item.svg) center no-repeat

  &:after
    content: ''
    position: absolute
    width: 1px
    height: calc(100% - 15px)
    top: 21px
    left: 7px
    background: url(images/svg/svg_pattern.svg) center repeat

  &:last-child
    &:after
      display: none

  &:last-child
    padding-bottom: 0

.map-block
  margin-bottom: 72px
  &:last-child
    margin-bottom: 0

.map-img
  width: 1130px
  cursor: pointer

.map-video__wrapper
  display: flex
  justify-content: center
  video
    width: 1130px
    height: 400px

.upper-pic
  position: absolute
  left: 34px
  img
    width: 120px
    height: 120px

.under-title
  color: #0A0C0D
  font-size: 17px
  line-height: 32px
  font-weight: 200
  margin-bottom: 24px
  padding-left: 150px

.main-text
  color: #0A0C0D
  font-size: 14px
  line-height: 24px
  font-weight: 300
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0

  a
    color: #0DA4F0
    border-bottom  1px solid rgba(30, 146, 204, 0.2)
    &:hover
      border-bottom: none

.block-title
  font-size: 32px
  line-height: 40px
  margin-bottom: 30px
  color: #103144
  text-align: center
  font-weight: 600

.semibold
  font-weight: 600

.info-text
  position: relative
  margin: 0 auto
  padding: 23px 45px 25px 72px
  font-size: 14px
  line-height: 26px
  font-weight: 300
  font-style: italic
  border: 1px solid #ABD7F1
  border-radius: 5px
  margin-bottom: 45px
  box-sizing: border-box
  &:before
    content: ''
    position: absolute
    height: 24px
    width: 24px
    top: 50%
    transform: translateY(-50%)
    left: 24px
    background: url(images/icons/info-icon.svg) center no-repeat

.reg
  font-weight 600
  font-size: 8px
  color: #95A69D
  letter-spacing: 0
  line-height: 10px
  position: relative
  top: 0
  &--tbl
    color: #ffffff

.conclusion-block
  display: flex
  min-height: 104px
  flex-direction: row
  justify-content: flex-start
  align-items: center
  padding: 24px
  margin-bottom: 24px
  background: #ffffff
  border-radius: 6px
  box-shadow: 0 6px 16px 0 rgba(13,93,131,0.10)
  box-sizing: border-box
  &:last-child
    margin-bottom: 0

.conclusions-num
  margin-right: 24px

.conclusions-text
  @extend .under-title__text
  margin-bottom: 0

.text-box--methodology
  border-radius: 0 0 5px 5px

.methodology-content
  display: flex
  flex-direction: row
  align-items: flex-start
  margin-bottom: 30px

.methodology-img
  position: relative
  min-width: 80px
  height: 80px
  margin-right: 24px

.methodology-brands__img
  &:first-child
    margin-right: 96px

.methodology-source
  margin-bottom: 32px
  margin-left: 104px

.methodology-brands
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  margin-left: 104px

.methodology-brands__img
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 36px

.related
  background: #FFFFFF
  border-radius: 5px
  margin-top: 30px
  margin-bottom: 200px

.related-head
  min-height 54px
  display flex
  justify-content space-between
  align-items center
  background: #F0FAFF
  box-shadow: 0 1px 0 0 #DCEFF5
  border-radius: 5px 5px 0 0
  padding: 0 31px

.related-title
  font-size: 12px
  color: #0084C3
  letter-spacing: 0
  text-transform uppercase
  font-weight 600
  letter-spacing -.1px

.related-list
  padding: 34px 31px 0px 31px
  display flex
  justify-content space-between
  .col
    width: 43%
    padding-right: 5%

.related-item
  padding-bottom: 30px

.related-item__title
  font-size: 14px
  color: #475359
  letter-spacing: -0.2px
  line-height: 20px
  font-weight 600
  padding-bottom: 12px

.related-item__text
  padding-bottom: 13px
  line-height 24px
  font-size: 14px
  color: #475359
  letter-spacing: -0.1px
  font-weight 300

.related-item__link
  letter-spacing: -0.2px
  font-weight 300
  font-size: 14px
  line-height 24px
  color: #0DA4F0
  border-bottom: 1px solid rgba(13, 164, 240, 0.30)
  padding-bottom: 2px

  &:after
    width: 100%
    display: block
    content ''
    margin-bottom: 3px

  &:hover
    border-bottom-color: rgba(13, 164, 239, 0.0)

.footer-menu__link, .button-main, .button-register, .rate-block
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale

.mobile-only-close
  display: none

.show-map
  text-align center
  font-size: 12px
  color: #07b45d
  letter-spacing: 0
  line-height: 22px
  margin: 0 auto
  display: block
  margin-top: 24px
  span
    border-bottom: 1px dotted #07b45d
    margin-left: 8px
  &:hover
    span
      border-bottom: none

.mobile-only-show
  display: none

.mobile-only-close
  display: none
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #e589a8
  text-decoration: none
  height: 41px
  text-transform: uppercase
  border-radius: 3px
  padding: 0 20px
  overflow: hidden
  font-size: 11px
  line-height: 43px
  font-weight bold
  position: fixed
  background: #ffffff
  -webkit-backface-visibility: hidden
  top: 10px
  right: 25px
  border: 1px solid #e589a8
  .icon
    margin-right: 8px
  &:hover
    border: 1px solid transparent
    background: #f8dce5
    transition: .25s

.pswp__img
  background: #ffffff
  border: 15px solid #ffffff

.map-video__wrapper
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden

.map-video__wrapper iframe, .map-video__wrapper object, .map-video__wrapper embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
