@import "_variable.styl"

body
  font-family: Whitney SSm A, sans-serif
  $ultraThin()
  color: #0A0C0D

.main-article
  &--table
    margin-bottom: 290px

.content
  width: 1220px
  margin: 0 auto
  position relative

ul,li
  list-style: none
  padding :0
  margin: 0

.main-article
  padding-top: 32px

.page__wrap
  background-image: url(images/footer_bg.png), url(images/svg/clouds_bg.svg), url(images/svg/clouds_bg.svg), linear-gradient(-180deg, #34C4F0 0%, #1C90E2 100%)
  background-position 50% 100%, 0 250px, 600px 50%
  background-repeat no-repeat, repeat-x, repeat-x
  background-size: auto, auto, auto

.main-pic
  position: relative
  background-position: center
  background-size: cover
  height: 568px
  padding: 34px 44px 47px 44px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  border-radius: 5px 5px 0 0
  align-items: flex-start
  position: relative
  background-image: url('images/main_pic.png')
  background-image: -webkit-image-set(url(images/main_pic.png) 1x, url(images/main_pic@2x.png) 2x)

.main-pic__mask
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 200px
  opacity: 0.63
  background-image: linear-gradient(-180deg, rgba(0,0,0,0) 3%, rgba(0,0,0,0.3) 100%)
  z-index: 2

.article-text
  margin-top: auto
  z-index: 5

.article-title
  color: $color_white
  font-size: 50px
  line-height: 70px
  font-weight: 600
  margin-bottom: 12px

.article-text__item
  color: $color_white
  font-size: 22px
  line-height: 28px
  font-weight: 300
  margin-bottom: 36px

.article-author
  position: relative
  color: $color_white
  font-size: 12px
  line-height: 14px
  font-weight: 300
  padding-left: 32px
  &:before
    content: ''
    position: absolute
    left: 0
    top: -2px
    width: 20px
    height: 20px
    background-image: url(images/icons/author.svg)
    background-repeat: no-repeat

.breadcrumbs
  &__wrap
    display: flex
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10)
    border-radius: 2px
    padding: 0 14px
  &__item
    font-size: 12px
    letter-spacing: 0
    line-height: 42px
    color: #667780
    &:first-child
      &:before
        display: none
    &:before
      content: ''
      display: inline-block
      color: #fff
      width: 6px
      height: 13px
      background-image: url(images/svg/arrow.svg)
      background-position: 0px 5px
      background-size: 100% auto
      margin: 0 6px 0 8px
      background-repeat no-repeat

  &__link
    color: $main_color
    letter-spacing: 0
    line-height: 42px
    text-decoration underline
    text-decoration-color: #A3DCF0
    $ultraThin()
    &:hover
      text-decoration none

.text-box
  padding: 44px 45px 60px 45px
  background-color: $color_white
  margin-bottom: 10px

.text-box--upper
  position: relative
  padding-bottom: 50px
  .main-text
    font-weight: 400

.upper-pic
  position: absolute
  left: 34px
  img
    width: 120px
    height: 120px

.under-title
  color: #0A0C0D
  font-size: 17px
  line-height: 32px
  font-weight: 200
  margin-bottom: 24px
  padding-left: 150px

.main-text
  color: #0A0C0D
  font-size: 14px
  line-height: 24px
  font-weight: 300
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0

  a
    color: #0DA4F0
    border-bottom  1px solid rgba(30, 146, 204, 0.2)
    &:hover
      border-bottom: none

.block-title
  font-size: 32px
  line-height: 40px
  margin-bottom: 30px
  color: #103144
  text-align: center
  font-weight: 600

.semibold
  font-weight: 600

.text-box--green
  .bank-ranking
    background: #E8FBEC

  .info-text
    border-color: #C4F4C3
    &:before
      background: url(images/icons/info-icon-green.svg) center no-repeat

  .bank-ranking__under-title
    color: #00990F

  .bank-ranking__logo-container
    background: #E8FBEC

.text-box--purple
  .bank-ranking
    background: #F4EAF8

  .info-text
    border-color: #F0E1F5

  .bank-ranking__under-title
    color: #CC1452

.text-box--purple,
.text-box--green
  padding-left: 0
  padding-right: 0

.bank-ranking
  padding: 90px 0 60px 0
  margin-bottom: 34px

.bank-ranking__item
  position: relative
  width: 920px
  margin: 0 auto
  padding: 32px 45px
  background: #ffffff
  box-sizing: border-box
  margin-bottom: 90px
  border-radius: 5px
  &:last-child
    margin-bottom: 0

.bank-ranking__header
  display: flex
  flex-direction: column
  margin-bottom: 32px

.bank-ranking__header-text
  position: relative
  display: flex
  flex-direction: row

.bank-ranking__num
  position: absolute

.bank-ranking__title
  font-size: 26px
  line-height: 32px
  font-weight: 600
  margin-left: 56px
  margin-bottom: 4px

.bank-ranking__under-title
  max-width: 500px
  font-size: 10px
  line-height: 16px
  font-weight: 700
  text-transform: uppercase
  margin-left: 56px

.bank-ranking__under-title-text
  display: inline-block
  margin-right: 10px

.bank-ranking__text
  font-size: 14px
  line-height: 24px
  font-weight: 300

.bank-ranking__logo-container
  position: absolute
  right: 45px
  top: -80px
  display: flex
  justify-content: center
  align-items: center
  width: 160px
  height: 160px
  border-radius: 50%
  background: #F4EAF8

.bank-ranking__logo
  display: flex
  justify-content: center
  align-items: center
  width: 120px
  height: 120px
  border-radius: 50%
  background: #ffffff
  box-shadow: 0 3px 6px 0 rgba(108,77,120,0.20)

.info-text
  position: relative
  width: 920px
  margin: 0 auto
  padding: 23px 45px 25px 80px
  font-size: 14px
  line-height: 26px
  font-weight: 300
  font-style: italic
  border: 1px solid #E6E6F2
  border-radius: 5px
  margin-bottom: 45px
  box-sizing: border-box
  &:before
    content: ''
    position: absolute
    height: 32px
    width: 32px
    top: 50%
    transform: translateY(-50%)
    left: 32px
    background: url(images/icons/info-icon.svg) center no-repeat

.ranking-table__wrapper
  padding-left: 45px
  padding-right: 45px

.ranking-table
  width: 100%
  border-collapse: collapse
  border-radius: 5px
  border: 1px solid #E6E6F2
  border-top: none
  box-sizing: border-box
  thead
    th
      height: 60px
      font-size: 10px
      line-height: 16px
      font-weight: bold
      color: #ffffff
      text-transform: uppercase
      text-align: center
      padding: 0 12px
      box-sizing: border-box
      border-right: 1px solid rgba(255, 255, 255, 0.3)
      &:nth-child(2)
        text-align: left
      &:last-child
        border-right: none

  tbody
    td
      height: 51px
      font-size: 12px
      line-height: 16px
      font-weight: 600
      color: #0A0C0D
      padding: 0 12px
      box-sizing: border-box
      text-align: center
      &:nth-child(2)
        text-align: left
        width: 18%

.text-box--map
  .main-text
    margin-bottom: 40px

.map-img__wrapper
  display: flex
  justify-content: center
  margin-bottom: 80px

.map-img
  width: 100%
  height: 100%

.map-info
  display: flex
  justify-content: space-between
  align-items: center

.map-info__legend
  width: 380px

.map-info__legend-title
  font-size: 10px
  line-height: 13px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 12px

.map-info__legend-container
  display: flex
  flex-direction: row
  margin-bottom: 12px

.map-info__legend-item
  width: 10%
  height: 16px

.map-info__legend-item--1
  background: #00990f
  border-radius: 8px 0 0 8px

.map-info__legend-item--2
  background: #40b34b

.map-info__legend-item--3
  background: #7fcc87

.map-info__legend-item--4
  background: #b2e0b7

.map-info__legend-item--5
  background: #d9f0db

.map-info__legend-item--6
  background: #f8dce5

.map-info__legend-item--7
  background: #efb8ca

.map-info__legend-item--8
  background: #e589a8

.map-info__legend-item--9
  background: #d94f7d

.map-info__legend-item--10
  background: #cc1452
  border-radius: 0 8px 8px 0

.map-info__legend-nums
  display: flex
  justify-content: space-between

.map-info__legend-num
  @extend .map-info__legend-title
  margin-bottom: 0

.map-info__text-item
  font-size: 12px
  line-height: 20px
  font-style: italic

.green-marked
  color: #00990f
  font-weight: 600

.pink-marked
  color: #cc1452
  font-weight: 600

.map-info__text
  width: auto

.methodology-links
  margin-left: 104px

.methodology-links__item
  a
    color: #0DA4F0
    font-size: 14px
    line-height: 32px
    border-bottom: 1px solid #D1E9F5
    &:hover
      border-bottom: none

.mobile-only
  display: none

.reg
  font-weight 600
  font-size: 8px
  color: #95A69D
  letter-spacing: 0
  line-height: 10px
  position: relative
  top: 0
  &--tbl
    color: #ffffff

.methodology-content
  display: flex
  flex-direction: row
  align-items: flex-start
  margin-bottom: 30px

.methodology-img
  position: relative
  min-width: 80px
  height: 80px
  margin-right: 24px

.methodology-source
  margin-bottom: 32px

.methodology-brands
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center

.methodology-brands__img
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 36px

.related
  background: #FFFFFF
  border-radius: 5px
  margin-top: 30px
  margin-bottom: 200px

.related-head
  min-height 54px
  display flex
  justify-content space-between
  align-items center
  background: #F0FAFF
  box-shadow: 0 1px 0 0 #DCEFF5
  border-radius: 5px 5px 0 0
  padding: 0 31px

.related-title
  font-size: 12px
  color: #0084C3
  letter-spacing: 0
  text-transform uppercase
  font-weight 600
  letter-spacing -.1px

.related-list
  padding: 34px 31px 0px 31px
  display flex
  justify-content space-between
  .col
    width: 43%
    padding-right: 5%

.related-item
  padding-bottom: 30px

.related-item__title
  font-size: 14px
  color: #475359
  letter-spacing: -0.2px
  line-height: 20px
  font-weight 600
  padding-bottom: 12px

.related-item__text
  padding-bottom: 13px
  line-height 24px
  font-size: 14px
  color: #475359
  letter-spacing: -0.1px
  font-weight 300

.related-item__link
  letter-spacing: -0.2px
  font-weight 300
  font-size: 14px
  line-height 24px
  color: #0DA4F0
  border-bottom: 1px solid rgba(13, 164, 240, 0.30)
  padding-bottom: 2px

  &:after
    width: 100%
    display: block
    content ''
    margin-bottom: 3px

  &:hover
    border-bottom-color: rgba(13, 164, 239, 0.0)

.footer-menu__link, .button-main, .button-register, .rate-block
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale

.mobile-only-close
  display: none

.mobile-only-show
  display: none
