@import "_variable.styl"

.full-table-wrapper
	background-image: linear-gradient(-90deg, #B56142 0%, #9B443D 100%)
	border: 1px solid #f2ece6
	border-radius: 5px

.full-table
	width: 100%
	min-width: 600px
	border-collapse: collapse
	thead
		th
			height: 48px
			padding: 0 16px
			font-size: 10px
			line-height: 16px
			color: $color_white
			text-align: center
			text-transform: uppercase
			border-right: 1px solid rgba(255,255,255,0.2)
			box-sizing: border-box
			&:nth-child(2),
			&:nth-child(3)
				text-align: left
			&:last-child
				border-right: none

	tbody
		tr
			background-color: #ffffff
			border-bottom: 1px solid #f2ece6
			&:nth-child(odd)
				background-color: #fcf9f8
			&:last-child
				border-bottom: none

		td
			font-size: 12px
			line-height: 16px
			font-weight: 600
			text-align: center
			padding: 16px 16px 18px 16px
			color: #3D3126
			&:first-child
				font-size: 12px
				line-height: 14px
				color: #a68d85

			&:nth-child(2),
			&:nth-child(3)
				font-size: 14px
				text-align: left

			&:nth-child(7)
				padding: 13px 16px 12px 16px

	.reg
		color: #a69e95

	.state
		font-weight: 200
		color: #a69e95
		text-transform: upepracse

	.rate-block
		background-color: #719a1f

	.item2
		background-color: #729C20

	.item3
		background-color: #749F20

	.item4
		background-color: #75A120

	.item5
		background-color: #77A321

	.item6
		background-color: #7AA621

	.item7
		background-color: #7CA922

	.item8
		background-color: #7EAC23

	.item9
		background-color: #7FAE23

	.item10
		background-color: #81B124

	.item11
		background-color: #83B324

	.item12
		background-color: #86B625

	.item13
		background-color: #87B925

	.item14
		background-color: #89BB25

	.item15
		background-color: #8CBF27

	.item16
		background-color: #8EC227

	.item17
		background-color: #90C528

	.item18
		background-color: #93C828

	.item19
		background-color: #96CB29

	.item20
		background-color: #9CCB2A

	.item21
		background-color: #A7C82B

	.item22
		background-color: #B2C52B

	.item23
		background-color: #BFC22C

	.item24
		background-color: #CBC02E

	.item25
		background-color: #D6BD2E

	.item26
		background-color: #E2BA2F

	.item27
		background-color: #EFB731

	.item28
		background-color: #F6B331

	.item29
		background-color: #F6AC31

	.item30
		background-color: #F5A331

	.item31
		background-color: #F49B31

	.item32
		background-color: #F49431

	.item33
		background-color: #F38C31

	.item34
		background-color: #F28330

	.item35
		background-color: #F17B30

	.item36
		background-color: #F07230

	.item37
		background-color: #EF6D30

	.item38
		background-color: #EE692F

	.item39
		background-color: #ED662F

	.item40
		background-color: #EC6330

	.item41
		background-color: #EB5F2F

	.item42
		background-color: #EA5C2F

	.item43
		background-color: #E8582F

	.item44
		background-color: #E7532E

	.item45
		background-color: #E6502E
