@import "_variable.styl"

.text-box--purple
  .ranking-table
    background: linear-gradient(90deg, #B70A36 0%, #E01D6D 100%)

   tbody
    tr
      background: #ffffff
      border-bottom: 1px solid #F2E6E8
      &:nth-child(odd)
        background: #FDFBFE
      &:last-child
        border-bottom: none
    td
      &:first-child
        color: #D0021B

.text-box--green
  .ranking-table
    background: linear-gradient(90deg, #00890B 0%, #00A812 100%)

   tbody
    tr
      background: #ffffff
      border-bottom: 1px solid #E6F2E7
      &:nth-child(odd)
        background: #F8FCF8
      &:last-child
        border-bottom: none

    td
      &:first-child
        color: #007F0C


