@import "_variable.styl"

.overflow-table
  .breadcrumbs
    &__wrap
      box-shadow: none
      padding: 0
      margin-bottom: 30px
    &__link
      text-decoration none
      &:hover
        text-decoration underline

  .block-title
    margin-bottom: 14px

  .main-text
    text-align: center
    margin-bottom: 24px

.item27
  background: #3B3DA4

.item28
  background: #4D429B

.item29
  background: #564496

.item30
  background: #66488E

.item31
  background: #714A88

.item32
  background: #7D4D81

.item33
  background: #8C5179

.item34
  background: #975473

.item35
  background: #A5576C

.item36
  background: #AD5966

.item37
  background: #BD5D5E

.item38
  background: #CA6057

.item39
  background: #D56351

.item40
  background: #E4674A

.item41
  background: #ED6945

.item42
  background: #FA6C3D

.item-orange
  background: #FF6D3B
