doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(inline='', rel='stylesheet', type='text/css', href='style.min.css')
  title Financial Vampires: Are the Banks Playing Politics

body
  .page__wrap
    include ./partials/header.jade

    article.main-article
      .content
        include ./partials/featured-cards.jade

        include ./partials/upper.jade

        include ./partials/facts.jade

        include ./partials/maps-2016.jade

        include ./partials/maps-2012.jade

        include ./partials/maps-votes.jade

        include ./partials/conclusions.jade

        include ./partials/methodology.jade

        include ./partials/related.jade

        include ./partials/pswp.jade

    include ./partials/footer.jade

  script(type='text/javascript', src='js/script.min.js')
