doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(inline='', rel='stylesheet', type='text/css', href='style.min.css')
  title America’s Financial Vampires

body
  .page__wrap
    include ./partials/header.jade

    article.main-article
      .content
        include ./partials/featured-cards.jade

        include ./partials/upper.jade

        include ./partials/main.jade

        include ./partials/worst.jade

        include ./partials/best-small.jade

        include ./partials/best-mid-size.jade

        include ./partials/map.jade

        include ./partials/methodology.jade

        include ./partials/related.jade

        video(controls='', loop='loop', width='578', height='268')
          source(src='2016_Compare_2.mp4', type='video/mp4')

    include ./partials/footer.jade

  .blur
  .popup

  script(type='text/javascript', src='js/script.min.js')

